@model MyContacts.Models.Contact

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <button type="button" class="btn-close position-absolute right-2 top-2" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row p-4 text-center">
                <h2 class="font-weight-bold text-xl">Create a new contact</h2>
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img src="https://cdn.worldvectorlogo.com/logos/contacts-ios.svg" alt="img" width="120" />
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="card mt-2 shadow">
                        <p class="font-weight-bold my-1 text-muted text-md">Contact Info</p>
                        <form>
                        <div class="p-3 pt-0">
                            <div class="row mt-1">
                                <div class="col">
                                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" />
                                </div>
                                <div class="col">
                                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <input asp-for="DateOfBirth" type="date" class="form-control" placeholder="Last Name" />
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="mt-sm-3 text-right"><button class="btn btn-primary profile-button" data-save="NewContact" type="button">Next</button></div>
            </div>
        </div>
    </div>
</div>
