@model MyContacts.Models.Telephone

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <button type="button" class="btn-close position-absolute right-2 top-2" onclick="hideModal()" aria-label="Close"></button>
            <div class="row p-4 text-center">
                <h2 class="font-weight-bold text-xl">Create a new phone number</h2>
                <div class="col">
                    <div class="card mt-2 shadow">
                        <p class="font-weight-bold my-1 text-muted text-md">Contact Info</p>
                        <form>
                            <input asp-for="Contact.Id" hidden />
                            <input asp-for="Contact.FirstName" hidden />
                            <input asp-for="Contact.LastName" hidden />
                            <input asp-for="PrimaryNumber" type="checkbox" checked hidden />
                            <div class="row ml-3 ">
                                <div class="col-6 mx-1 form-floating my-2">
                                    <select asp-for="CountryCode" id="country" class='form-select'></select>
                                    <label for="country">Country Code</label>
                                </div>
                                <div class="col mx-1 form-floating my-2">
                                    <input asp-for="PhoneNumber" id="region" class="form-control" placeholder="0832522897"/>
                                    <label for="region">Phone Number</label>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mt-sm-3 text-right"><button class="btn btn-primary profile-button" data-save="NewNumber" type="button">Next</button></div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/codeLookup.js"></script>