@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card cssanimation2 fadeInBottom2 shadow p-3">
                <div class="d-flex align-items-center">
                    <div class="image shadow">
                        <img src="https://i.pravatar.cc/300" class="rounded" width="155">
                    </div>
                    <div class="ml-3 w-100">
                        <h4 class="mb-0 mt-0">Brandon McQuade</h4>
                        <span>Developer</span>
                        <div class="p-2 mt-2 bg-shade-primary  d-flex  justify-content-between rounded text-white stats">
                            <div class="col text-center">
                                <span class="articles">Articles</span>
                                <span class="number1">38</span>
                            </div>
                            <div class="col text-center">
                                <span class="followers">Followers</span>
                                <span class="number2">980</span>
                            </div>
                            <div class="col text-center">
                                <span class="rating">Rating</span>
                                <span class="number3">8.9</span>
                            </div>
                        </div>
                        <div class="button mt-2 d-flex flex-row align-items-center">
                            <button class="btn btn-sm btn-outline-primary w-100">Chat</button>
                            <button class="btn btn-sm btn-primary  w-100 ml-2">Follow</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>