@{
    ViewData["Title"] = "Home Page";
}
<div class="row scroll" id="container">
    <div class="d-flex scroll justify-content-center" id="loader">
        <div class="dash uno"></div>
        <div class="dash dos"></div>
        <div class="dash tres"></div>
        <div class="dash cuatro"></div>
    </div>
</div>


<script src="~/js/Home.js"></script>